.visionStatement {
  background-color: #07aaf0;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;

  @media (max-width: 500px) {
    display: block;
  }

  .separator {
    background-color: #fff;
    width: 10px;
    height: 100px;
    border-radius: 10px;

    @media (max-width: 500px) {
      display: none;
    }
  }

  h4 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 28px;
    // font-family: "Lora", serif;
    // font-family: "Poppins", sans-serif;
    // font-family: "Roboto", sans-serif;
  }

  p {
    color: #fff;
    margin-top: 48px;
    font-size: 20px;
  }
}

.missionStatement {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 830px) {
    display: block;
  }

  .missionContent {
    line-height: 1.8em;

    h3 {
      font-size: 2.4em;
      color: #063042;
      font-family: "Roboto", sans-serif;
      font-weight: 800;
    }

    h6 {
      font-size: 1.3em;
      margin-top: 1em;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      margin-bottom: 3em;
    }

    a {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      background-color: #072445;
      border: 1px solid #072445;
      color: white;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: all 0.5s ease;

      &:hover {
        background-color: rgb(226, 225, 225);
        color: #072445;
      }
    }
  }

  .imageSide {
    @media (max-width: 560px) {
      display: none;
    }
  }
}
